.topnav {
  overflow: hidden;
  background-color: #fff;
  box-sizing: border-box;
  padding: 10px 30px 10px 30px;
  position: fixed;
  top: 0;
  width: 100%;
}
  
.topnav span {
  cursor: pointer;
  float: right;
  display: block;
  color: #000;
  text-align: center;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}

.topnav img {
  width: 45px;
  height: 45px;
  border-radius: 25px;
}
  
.topnav span:hover {
  color: #F1C70E;
}
  
.topnav span.active {
  background-color: #04AA6D;
  color: #000;
}
  
.topnav .icon {
  display: none;
  position: absolute;
  right: 5%;
  top: 0;
  margin-top: 10px;
}
  
@media screen and (max-width: 600px) {
  .topnav span {display: none;}
  .topnav span.icon {
    float: right;
    display: block;
  }
}
  
@media screen and (max-width: 600px) {
  .topnav.responsive {position: fixed; top: 0;}
  .topnav.responsive span {
    float: none;
    display: block;
    text-align: center;
  }
}

.main {
  height: auto;
  overflow-y: scroll;
  background-color: #F2F2F2;
  box-sizing: border-box;
  padding: 40px;
  width: 100%;
  max-width: 1300px;
}

.main .about {
  min-height: 100vh;
  display: grid;
}

.main .about .img-div {
  text-align: center;
  margin-top: 20px;
}

.main .about .img-div img {
  max-height: 400px;
  max-width: 500px;
}

@media screen and (max-width: 600px) {
  .main .about .img-div {
    display: none;
  }
}

.main .about .about-body {
  display: grid;
  gap: 80px;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 900px) {
  .main .about .about-body {
    grid-template-columns: repeat(1, 1fr);
  }
}

.main .about .about-body .title {
  font-size: 26px;
  font-weight: bold;
}

.main .about .about-body .content {
  width: 100%;
}

.main .about .about-body .content .description {
  padding: 20px 0 20px 0;
  color: #666666;
}

.main .about .about-body .content .skills {
  padding: 20px 0 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.main .project {
  min-height: 100vh;
  padding-top: 80px;
  scroll-margin-top: 65px;
}

.main .contact {
  min-height: 100vh;
  padding-top: 80px;
  scroll-margin-top: 65px;
}

.projects-body {
  display: grid;
  grid-auto-flow: row;
  gap: 40px;
}

.contacts-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
