.project-body {
    display: grid;
    gap: 80px;
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 900px) {
    .project-body {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }
}

.project-body img {
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 550px;
    border: 1px solid #bcbaba;
    border-radius: 3px;
    cursor: pointer;
}

.project-body .title {
    font-size: 26px;
    font-weight: bold;
}

.project-body .description {
    padding: 20px 0 20px 0;
    color: #666666;
}

.project-body .skills {
    padding: 20px 0 20px 0;
    display: flex;
    flex-wrap: wrap;
}